.list{
  background: #F8F8F8;
}
.listItem {
  width: 30px;
  height: 100px;
  margin-top: 20px;
  background: white;
}
.listItemText {
  margin-top: 20px;
  font-size: 20px;
}


.button{
  font-size:1px;
}

.image{
  height: 80px;
  width:auto;
}